# IDEs
.idea
.vscode

# Testing
.pytest_cache
__cache__
__pycache__

# Virtual Environments
venv*

# Doc
docs/build

# General
*.log
*.pyc
*.__treating__

# Configs
*.ini
!python-cookie-cutter/templates/config.ini